<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-DO</title>
    <script>
        nav.ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        nav ul {
            display: inline;
        }

        nav ul a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        nav ul a:hover {
            background-color: #555;
        }
    </script>
</head>
<body>
{% extends 'todo/base.html' %}

{% block content %}
<nav>
    <ul>
        <li><a href="{% url 'index' %}">Add Task</a></li>
    </ul>
</nav>
<table class="center">
    <tr>
        <th><h3>Task</h3></th>
        <th><h3>Due Date</h3></th>
        <th><h3>Status</h3></th>
        <th colspan="2"><h3>Action</h3></th>
    </tr>
    {% for item in object_list %}
    <tr>
        <td>{{ item.text }}</td>
        <td>{{ item.due_date }}</td>
        <td>
            {% if item.is_complete %}
            <a href="{% url 'mark_incomplete' item.id %}" style="color:green;text-decoration:none">
                Done
            </a>
            {% else %}
            <a href="{% url 'mark_complete' item.id %}" style="color:red;text-decoration:none">
                Not Done
            </a>
            {% endif %}
        </td>
        <td>
            <a href="{% url 'edit_task' item.id %}" style="text-decoration:none">
                Edit
            </a>
        </td>
        <td>
            <a href="{% url 'del_task' item.id %}" style="text-decoration:none">
                Delete
            </a>
        </td>


    </tr>
    {% endfor %}
</table>
{% endblock %}

</body>
</html>